body {
    font-family: Arial, sans-serif;

    /* Background Color (Backup) */
    background-color: #e6f2ff;

    /* Background Image */
    background-image: url("purchasepic.jpg");

    background-size: cover;        /* Full screen */
    background-position: center;   /* Center align */
    background-repeat: no-repeat;  /* No repeat */

    margin: 0;
    height: 100vh;
}

/* Box style */
.history-container {
    width: 70%;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.9); /* Transparent white */
    padding: 30px;
    border-radius: 10px;
}